@font-face {
 //    font-family: 'MercuryTextG1';
 //    src: url($icon-font-path + 'MercuryTextG1-Roman0.eot');
 //    src: url($icon-font-path + 'MercuryTextG1-Roman0.eot?#iefix') format('embedded-opentype'), 
 //         url($icon-font-path + 'MercuryTextG1-Roman0.otf') format('opentype');

 //    font-weight: normal;
	// font-style: normal;
}

@font-face {
    font-family: 'bebas_neuelight';
    src: url($icon-font-path + 'BebasNeue Light-webfont.eot');
    src: url($icon-font-path + 'BebasNeue Light-webfont.eot?#iefix') format('embedded-opentype'),
         url($icon-font-path + 'BebasNeue Light-webfont.woff2') format('woff2'),
         url($icon-font-path + 'BebasNeue Light-webfont.woff') format('woff'),
         url($icon-font-path + 'BebasNeue Light-webfont.ttf') format('truetype'),
         url($icon-font-path + 'BebasNeue Light-webfont.svg#bebas_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;

}
